<div style="margin-right: 0px; margin-left: 10px">
  <div class="row">
    <div class="col-4">
      <app-product-list></app-product-list>
    </div>
    <div class="col-8">
      <div class="d-flex justify-content-between mb-4">
        <h5>Shopping Cart Items</h5>
        <button
          class="btn btn-primary"
          (click)="onClearCart()"
          [disabled]="isClearCartdisabled"
        >
          Clear cart
        </button>
      </div>
      <app-shopping-cart-item
        *ngFor="let cartItem of cartItems; index as i"
        [cartItem]="cartItem"
        [index]="i"
      >
      </app-shopping-cart-item>
      <div>
        <h5 style="text-align: right; margin-top: 20px" class="fs-3">
          Total: {{ calculateTotal() }}
        </h5>
      </div>
    </div>
  </div>
</div>
