<div>
  <form (ngSubmit)="onAddEditProduct(f)" #f="ngForm">
    <h5>{{ editMode ? "Update" : "Add" }} Product</h5>
    <p>Product Name:</p>
    <input
      style="margin-bottom: 10px"
      [(ngModel)]="productName"
      required
      name="name"
      id="name"
      [disabled]="editMode"
      class="form-control"
    />
    <p>Barcode:</p>
    <input
      style="margin-bottom: 10px"
      [(ngModel)]="barcode"
      name="barcode"
      id="barcode"
      class="form-control"
      [OnlyNumber]="true"
    />
    <div [hidden]="editMode">
      <p>Unit Price:</p>
      <input
        type="number"
        [(ngModel)]="newPrice"
        name="newPrice"
        pattern="[^-]*"
        #price="ngModel"
        class="form-control"
      />
    </div>
    <div class="d-flex mt-3">
      <button
        class="btn btn-primary"
        type="submit"
        [disabled]="!f.dirty"
        style="margin-right: 10px"
      >
        {{ editMode ? "Update" : "Add" }}
      </button>
      <button
        [hidden]="!editMode"
        class="btn btn-outline-primary"
        type="button"
        (click)="onCancelClicked()"
        style="margin-right: 10px"
      >
        Cancel
      </button>
      <button
        [hidden]="!editMode"
        class="btn btn-outline-danger"
        type="button"
        (click)="onDelete()"
      >
        Delete
      </button>
    </div>
  </form>
</div>
