<div class="container-users m-auto">
  <mat-card
    appearance="outlined"
    *ngFor="let row of dataSource; let i = index"
    class="mb-2"
  >
    <mat-card-header class="pb-2">
      <mat-card-title class="fs-5">{{ row.email }}</mat-card-title>
      <mat-card-subtitle>
        <mat-checkbox
          [checked]="row.isAdmin"
          (change)="row.isAdmin = $event.checked"
          name="isAdmin_{{ i }}"
          >Administrator
        </mat-checkbox>
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card>
  <div class="row" class="mt-4 text-center">
    <button class="btn btn-primary" type="button" (click)="onSaveChanges()">
      Save
    </button>
  </div>
</div>
