<div style="position: relative">
  <h4
    mat-dialog-title
    style="color: white; background-color: darkviolet; padding-left: 15px"
  >
    Error
  </h4>

  <div style="padding-left: 25px; padding-right: 25px; padding-bottom: 40px">
    <span>{{data.message}}</span>
  </div>
  <mat-dialog-actions align="end">
    <button
      mat-button
      class="mat-raised-button"
      mat-dialog-close
      style="
        height: 30px;
        width: 100px;
        margin-right: 15px;
        margin-bottom: 40px;
        position: absolute;
        right: 0;
        bottom: 0;
      "
    >
      OK
    </button>
  </mat-dialog-actions>
</div>
