<div class="container-fluid">
    <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
        <div class="navbar-header">
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse"
                data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a routerLink="/" class="navbar-brand">Monty Bakery</a>
        </div>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="nav navbar-nav">
                <li routerLinkActive="active" *ngIf="isAuthenticated" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/shopping-cart" class="nav-link">Shopping
                        Cart</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAdmin || isSuperUser" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/price-edit" class="nav-link">Edit Prices</a>
                </li>
                <li routerLinkActive="active" *ngIf="isAdmin || isSuperUser" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/manage-product" class="nav-link">Manage
                        Products</a></li>
                <li routerLinkActive="active" *ngIf="isAdmin || isSuperUser" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/price-overview" class="nav-link">Price
                        Overview</a></li>
                <!--
                        <li routerLinkActive="active" *ngIf="isAuthenticated" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/product-change-log" class="nav-link">Product
                        Change
                        Log</a>
                </li>
                -->
                <li routerLinkActive="active" *ngIf="isSuperUser" class="nav-item" data-toggle="collapse"
                    data-target=".navbar-collapse.show"><a routerLink="/users" class="nav-link">Configured
                        Users</a></li>
            </ul>
        </div>
        <div style="float:right;margin-right:10px;">
            <nav class="navbar navbar-toggleable-md navbar-dark bg-dark">
                <div class="navbar-brand" ngbDropdown #myDrop="ngbDropdown" *ngIf="isAuthenticated">
                    <button class="nav-link dropdown-toggle"
                        style="color: #fff; background-color: transparent; font-size: 13px!important"
                        id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Logged in as
                        {{loggedInUser}}</button>
                    <div ngbDropdownMenu aria-labelledby="dropdownManual">
                        <button class="dropdown-item" ngbDropdownItem (click)="onChangePassword() ">Change
                            Password</button>
                        <button class="dropdown-item" ngbDropdownItem (click)="onLogout()">Sign out</button>
                    </div>
                </div>
            </nav>
            <p *ngIf="!isAuthenticated" class="unselectable" style="font-size: 13px!important">Not logged in
            </p>
        </div>
    </nav>
</div>