<h4 mat-dialog-title>Enter Quantity & Discount</h4>

<mat-dialog-content class="mt-2">
  <mat-form-field class="form-field">
    <input
      type="number"
      matInput
      placeholder="Quantity"
      [(ngModel)]="data.qty"
    />
  </mat-form-field>
  <mat-form-field class="form-field">
    <input
      type="number"
      matInput
      placeholder="Discount % (if applicable)"
      [(ngModel)]="data.discount"
    />
  </mat-form-field>
  <mat-form-field class="form-field">
    <mat-label>Price</mat-label>
    <mat-select [(value)]="data.selectedPrice">
      <mat-option *ngFor="let price of data.price" [value]="price">
        {{price.toFixed(2)}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button class="btn btn-primary me-2" (click)="onOkClicked()">OK</button>
  <button class="btn btn-outline-primary" (click)="dialogRef.close(false)">
    Cancel
  </button>
</mat-dialog-actions>
