<div>
  <h5>Product List</h5>
  <div class="form-inline md-form form-sm me-5" style="margin-bottom: 20px">
    <div class="w-100">
      <fa-icon
        [icon]="faDownload"
        (click)="onPopulateClicked()"
        class="p-2 me-2 pointer"
      ></fa-icon>
      <fa-icon
        [icon]="faSearch"
        (click)="onSearchClicked()"
        class="p-2 me-2 pointer"
      ></fa-icon>
      <mat-checkbox
        [checked]="showInactiveProducts"
        (change)="showInactiveProducts = $event.checked"
        >Show Inactive Products
      </mat-checkbox>
    </div>
    <div>
      <input
        [(ngModel)]="searchString"
        class="form-control form-control-sm ml-3 w-100"
        placeholder="Search Product"
        aria-label="Search"
        mdbInput
        (keyup.enter)="onSearchClicked()"
      />
    </div>
  </div>

  <div class="mb-4">
    <mat-radio-group [(ngModel)]="queryUsing"
      >Query using:
      <div style="margin-top: 10px">
        <mat-radio-button value="1">Barcode</mat-radio-button>
      </div>
      <div>
        <mat-radio-button value="2">Product Name</mat-radio-button>
      </div>
    </mat-radio-group>
  </div>
  <div *ngIf="products">
    <app-product
      *ngFor="let product of products; index as i"
      [productEl]="product"
      [index]="i + 1"
    ></app-product>
  </div>
  <mat-paginator
    *ngIf="searchedAtLeastOnce && !showSpinner"
    class="me-5"
    [length]="rowCount"
    [pageSize]="pagesize"
    [pageIndex]="pageIndex"
    [showFirstLastButtons]="true"
    (page)="onChangedPage($event)"
  >
  </mat-paginator>

  <p *ngIf="products.length == 0 && searchedAtLeastOnce && !showSpinner">
    No products match your search criteria.
  </p>
  <p *ngIf="!searchedAtLeastOnce && !showSpinner">
    Please perform a search to populate products.
  </p>
</div>
