/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */

@import "./bootstrap/scss/bootstrap";
html,
head,
body {
  height: 100%;
}

app-root {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
