<mat-card appearance="outlined" class="mb-2">
  <div class="row">
    <div class="col-9">
      <mat-card-header class="pb-2">
        <mat-card-title class="fs-5">
          {{ index + 1 }}. {{ cartItem?.name }}</mat-card-title
        >
        <mat-card-subtitle class="ps-4"
          >{{ cartItem?.price?.toFixed(2) }} * {{ cartItem?.qty }}
        </mat-card-subtitle>
      </mat-card-header>
    </div>
    <div class="col-3 sub-total fs-4">
      <div class="pe-2">
        {{ ((cartItem?.qty || 0) * (cartItem?.price || 0)).toFixed(2) }}
      </div>
    </div>
  </div>
</mat-card>
